name: Test CI

on:
  push:
    branches-ignore: [ 'main' ]

jobs:
  check:
    name: Test CI
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Flutter Environment
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: false

      - name: Flutter Config
        timeout-minutes: 2
        run: flutter config --no-analytics

      - name: Flutter Pub Get
        timeout-minutes: 5
        run: flutter pub get

      - name: Dart Analyze
        timeout-minutes: 2
        # TODO(edufolly): Enable again.
        # run: dart analyze --fatal-infos
        run: dart analyze

      - name: Flutter Test
        run: |
          flutter test \
            -r github \
            -j $(grep -c processor /proc/cpuinfo)

      - name: Flutter Publish Dry Run
        run: flutter pub publish --dry-run
